/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/obj/Debug/net6.0/apphost.exe
/bin/Debug/net6.0/appsettings.Development.json
/bin/Debug/net6.0/appsettings.json
/obj/Debug/net6.0/scopedcss/projectbundle/MyFirstMVCProject.bundle.scp.css
/obj/Debug/net6.0/MyFirstMVCProject.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/MyFirstMVCProject.csproj.FileListAbsolute.txt
/bin/Debug/net6.0/MyFirstMVCProject.deps.json
/bin/Debug/net6.0/MyFirstMVCProject.dll
/obj/Debug/net6.0/ref/MyFirstMVCProject.dll
/obj/Debug/net6.0/refint/MyFirstMVCProject.dll
/obj/Debug/net6.0/MyFirstMVCProject.dll
/bin/Debug/net6.0/MyFirstMVCProject.exe
/obj/Debug/net6.0/MyFirstMVCProject.genruntimeconfig.cache
/obj/Debug/net6.0/MyFirstMVCProject.MvcApplicationPartsAssemblyInfo.cache
/bin/Debug/net6.0/MyFirstMVCProject.pdb
/obj/Debug/net6.0/MyFirstMVCProject.pdb
/bin/Debug/net6.0/MyFirstMVCProject.runtimeconfig.json
/bin/Debug/net6.0/MyFirstMVCProject.staticwebassets.runtime.json
/obj/Debug/net6.0/scopedcss/bundle/MyFirstMVCProject.styles.css
/obj/Debug/net6.0/staticwebassets.build.json
/obj/Debug/net6.0/staticwebassets.development.json
/obj/staticwebassets.pack.sentinel
